{
  "parser": "php",
  "plugins": ["@prettier/plugin-php"],
  "bracketSpacing": false,
  "bracketSameLine": true,
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false
}
