$font-size-base: 1rem;
$h2-font-size: $font-size-base * 2.5;
$link-hover-color: #ff6f61;

@import 'bootstrap/scss/bootstrap';
@import 'common/fonts.scss';

@import '@glidejs/glide/dist/css/glide.core.css';
@import '@glidejs/glide/dist/css/glide.theme.css';

body {
  font-family: Montserrat, sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 800;
}

.section-banner-video {
  height: 100vh;
  position: relative;
  align-items: center;
  display: flex;

  .banner-video {
    position: absolute;
    inset: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: 1;
    filter: brightness(60%);
  }

  .header {
    color: $white;
    position: relative;
    z-index: 2;

    p {
      font-weight: 800;
    }
  }
}

section {
  margin-top: 3rem;

  h2 {
    margin-bottom: 1rem;
  }
}

// Post card

.post-card {
  a {
    color: $body-color;
    text-decoration: none;

    &:hover {
      color: $link-hover-color;
      transition: 0.3s;
    }
  }

  img {
    max-width: 100%;
  }

  h3 {
    margin-top: 1rem;
  }
}

// Donate

.donate {
  img {
    max-width: 100%;
  }
}

// Footer

footer {
  background-color: #eee;
  text-align: center;
  padding: 4rem 0;

  .stalin {
    max-height: 100px;
  }

  p {
    justify-content: center;
  }

  ul.social {
    display: inline-block;
    list-style: none;
    li {
      float: left;
      background-color: #333;
      margin: 0 0.25rem;

      img {
        width: 100%;
        max-width: 1rem;

        filter: invert(1);
        filter: invert(100%) sepia(1%) saturate(1849%) hue-rotate(46deg)
          brightness(114%) contrast(87%);
      }
    }
  }
}

// Article

article {
  img {
    max-width: 100%;
  }
}

// Footnotes

.footnote_referrer {
  .footnote_plugin_tooltip_text {
    &::before {
      content: '[';
    }
    &::after {
      content: ']';
    }
  }
  &.note_active {
    .footnote_tooltip {
      max-width: 90% !important;
      margin-left: auto;
      margin-right: auto;
      display: block;
      position: static;
    }
  }
}
.footnote_plugin_index {
  width: unset;
}
.footnote_tooltip {
  max-height: 300px;
  overflow-y: auto;
}
@media (pointer: none), (pointer: coarse) {
  .footnote_referrer .footnote_tooltip {
    display: none;
  }
}
