// Project variables
@import './variables';

// Libraries
@import './libs/bootstrap';

// Theme
@import './layout';

body {
  font-family: Montserrat, sans-serif;
  color: $body-color;
}

img,
video,
iframe {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

a {
  text-decoration: none;
  transition: 0.3s;

  &.link-dark:hover {
    color: $primary !important;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $font-weight-x-bold;
}

.fw-x-bold {
  font-weight: $font-weight-x-bold;
}

.break-word {
  word-break: break-word;
  hyphens: auto;
}

.text-tertiary {
  color: $tertiary !important;
}

.bg-tertiary {
  background-color: rgba($tertiary, var(--bs-bg-opacity)) !important;
}

/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}
