$font-size-base: 1rem;
$h2-font-size: $font-size-base * 2.5;
$dark-background-color: #333;
$body-secondary-color: #eee;
$primary: #ff6f61;

// Configuration
/* stylelint-disable-next-line scss/at-import-no-partial-leading-underscore */
@import 'bootstrap/scss/_functions';
/* stylelint-disable-next-line scss/at-import-no-partial-leading-underscore */
@import 'bootstrap/scss/_variables';
/* stylelint-disable-next-line scss/at-import-no-partial-leading-underscore */
@import 'bootstrap/scss/_variables-dark';
/* stylelint-disable-next-line scss/at-import-no-partial-leading-underscore */
@import 'bootstrap/scss/_maps';
/* stylelint-disable-next-line scss/at-import-no-partial-leading-underscore */
@import 'bootstrap/scss/_mixins';
/* stylelint-disable-next-line scss/at-import-no-partial-leading-underscore */
@import 'bootstrap/scss/_utilities';

// Layout & components
/* stylelint-disable-next-line scss/at-import-no-partial-leading-underscore */
@import 'bootstrap/scss/_root';
/* stylelint-disable-next-line scss/at-import-no-partial-leading-underscore */
@import 'bootstrap/scss/_reboot';
/* stylelint-disable-next-line scss/at-import-no-partial-leading-underscore */
@import 'bootstrap/scss/_type';
/* stylelint-disable-next-line scss/at-import-no-partial-leading-underscore */
@import 'bootstrap/scss/_containers';
/* stylelint-disable-next-line scss/at-import-no-partial-leading-underscore */
@import 'bootstrap/scss/_grid';
/* stylelint-disable-next-line scss/at-import-no-partial-leading-underscore */
@import 'bootstrap/scss/_navbar';
/* stylelint-disable-next-line scss/at-import-no-partial-leading-underscore */
@import 'bootstrap/scss/_buttons';

// Helpers
/* stylelint-disable-next-line scss/at-import-no-partial-leading-underscore */
@import 'bootstrap/scss/_helpers';

// Utilities
/* stylelint-disable-next-line scss/at-import-no-partial-leading-underscore */
@import 'bootstrap/scss/utilities/_api';

// Theme
@import './fonts';
@import './front-page';
@import './plugins';
@import './components/post-card';
@import './single-post';
@import './utils';
@import '~swiper/scss';
@import '~swiper/scss/autoplay';
@import '~swiper/scss/effect-fade';

body {
  font-family: Montserrat, sans-serif;
  color: $body-color;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 800;
}

// Footer

footer {
  background-color: $body-secondary-bg;

  .social-link {
    background-color: $dark-background-color;
    color: $body-secondary-color;
    width: 2.5rem;
    height: 2.5rem;

    &:hover {
      text-decoration: none;
    }
  }
}
