@use 'sass:map';

@import './app';
@import './libs/swiper';

section {
  &.video-section {
    min-height: calc(100vh - 2.875rem);

    .link-to-content {
      height: 3rem;
      width: 3rem;
      transition: transform 0.3s ease-out;

      .fa-angle-down {
        padding-top: 0.4rem;
      }

      &:hover {
        transform: translateY(8px);
      }
    }

    .video-element {
      filter: brightness(60%);
    }

    .social-link {
      width: 3.25rem;
      height: 3.25rem;
      background-color: $light;
      transition: background-color 0.3s;

      &:hover {
        background-color: #e4e4e4;
      }
    }

    .container {
      margin-top: 20vh;
    }
  }

  &.program-articles-section,
  &.recent-articles-section {
    .post-card {
      max-width: 18.125rem;
    }
  }

  &.donate-section {
    .floating-image {
      transition: transform 0.4s;
    }
  }

  &.connect-section {
    .description {
      p:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.categories-section {
  .card {
    a {
      color: $body;
    }

    a:hover {
      background: $body;
      color: white;
    }
  }
}

#video-section-container {
  transition:
    filter 0.1s,
    transform 0.1s;
}
