@import './variables';

header {
  .navbar .navbar-toggler {
    padding: 0;
    border: none;

    &:focus {
      box-shadow: none;
    }
  }

  .navbar {
    &.navbar-dark {
      background-color: $navbar-dark-background-color;
    }

    .collapse.navbar-collapse {
      flex-grow: 0;
    }
  }
}

footer {
  background-color: $body-secondary-bg;

  .social-link {
    background-color: $body;
    color: $white;
    width: 2.5rem;
    height: 2.5rem;

    &:hover {
      text-decoration: none;
    }
  }
}
