// - Footnotes

.footnote_referrer {
  .footnote_plugin_tooltip_text {
    &::before {
      content: '[';
    }
    &::after {
      content: ']';
    }
  }
  &.note_active {
    .footnote_tooltip {
      max-width: 90% !important;
      margin-left: auto;
      margin-right: auto;
      display: block;
      position: static;
    }
  }
}
.footnote_plugin_index {
  width: unset;
}
.footnote_tooltip {
  max-height: 300px;
  overflow-y: auto;
}
@media (pointer: none), (pointer: coarse) {
  .footnote_referrer .footnote_tooltip {
    display: none;
  }
}
