// - Footnotes

/* stylelint-disable-next-line selector-class-pattern */
.footnote_referrer {
  /* stylelint-disable-next-line selector-class-pattern */
  .footnote_tooltip {
    max-height: 300px;
    overflow-y: auto;
  }

  /* stylelint-disable-next-line selector-class-pattern */
  .footnote_plugin_tooltip_text {
    &::before {
      content: '[';
    }

    &::after {
      content: ']';
    }
  }

  /* stylelint-disable-next-line selector-class-pattern */
  &.note_active {
    /* stylelint-disable-next-line selector-class-pattern */
    .footnote_tooltip {
      max-width: 90% !important;
      margin-left: auto;
      margin-right: auto;
      display: block;
      position: static;
    }
  }
}

/* stylelint-disable-next-line selector-class-pattern */
.footnote_plugin_index {
  width: unset;
}

@media (pointer: none), (pointer: coarse) {
  /* stylelint-disable-next-line selector-class-pattern */
  .footnote_referrer .footnote_tooltip {
    display: none;
  }
}

// + Table of contents

.ez-toc-counter ul {
  list-style: auto;
  counter-reset: item;

  li {
    counter-increment: item;
    font-size: 0.9rem;
  }

  li:not(:last-child) {
    margin-bottom: 0.5rem;
  }

  li::marker {
    content: counters(item, '.') '. ';
    color: #989898;
  }

  a.ez-toc-link {
    color: #333; //TODO: use variable for text color
  }
}

// - Table of contents
