// Article
@use "sass:map";

article {
  .container-body {
    max-width: 800px;
  }

  .container-header {
    max-width: 1140px;
  }

  blockquote {
    p {
      @include font-size($blockquote-font-size);
 
      border-left: solid $primary 3px;
      padding: 0 map.get($spacers, 4);
    }
  }

  .pp-author-boxes-name,
  #post-categories,
  #post-tags {
    a {
      font-weight: 700;
    }
  }
}
