// Article

article {
  .container-body {
    max-width: 800px;
  }

  .container-header {
    max-width: 1140px;
  }

  blockquote {
    p {
      border-left: solid $primary 3px;

      // copy-paste of 'display-7' class
      @include font-size(map-get($display-font-sizes, 7));
      font-family: $display-font-family;
      font-style: $display-font-style;
      font-weight: $display-font-weight;
      line-height: $display-line-height;

      // copy-paste of 'px-3' class
      padding: 0 map-get($spacers, 3);
    }
  }

  .pp-author-boxes-name,
  #post-categories,
  #post-tags {
    a {
      font-weight: 700;
    }
  }
}
