// Article
@use 'sass:map';

@import './app';

// Plugins
@import './plugins/mistape';
@import './plugins/table-of-contents';
@import './plugins/publishpress-authors';
@import './plugins/footnotes';

header {
  .progress {
    @include media-breakpoint-down(sm) {
      position: absolute;
      left: 0;
      right: 0;
      top: 100%;
    }
  }
}

article {
  .accordion {
    --bs-accordion-body-padding-x: 1.75rem;
    --bs-accordion-body-padding-y: 1.25rem;
    --bs-accordion-btn-focus-box-shadow: none;
    --bs-accordion-active-bg: #{$light};
    --bs-accordion-active-color: #{$body};
    --bs-accordion-border-radius: 2.2rem;
    --bs-accordion-btn-color: #{$body};
    --bs-accordion-btn-active-icon: url('data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27none%27 stroke=%27rgb%2833, 33, 33%29%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27%3e%3cpath d=%27M2 5L8 11L14 5%27/%3e%3c/svg%3e');

    .accordion-item {
      .header {
        @include media-breakpoint-up(sm) {
          font-size: 1.25rem !important;
        }
      }

      .accordion-button {
        --bs-accordion-btn-padding-y: 1.25rem;
        --bs-accordion-btn-padding-x: 1.75rem;

        @media (hover: hover) {
          &:hover {
            background-color: #{$light};
          }

          &:not(.collapsed):hover {
            background-color: #e4e4e4;
          }
        }

        &:active {
          background-color: #{$light};
        }

        &:not(.collapsed):active {
          background-color: #e4e4e4;
        }
      }
    }
  }

  .fa-fw {
    min-width: 1.25em;
  }

  [id] {
    scroll-margin-top: $spacer * 5;
  }

  p,
  ol,
  ul,
  blockquote,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    // https://getbootstrap.com/docs/5.3/utilities/text/#word-break
    word-wrap: break-word !important;
    word-break: break-word !important;
  }

  h2,
  p {
    margin-bottom: map.get($spacers, 5);
  }

  h2 {
    margin-top: map.get($spacers, 8);

    @include media-breakpoint-only(xs) {
      margin-top: map.get($spacers, 6);
    }
  }

  h3 {
    margin-bottom: map.get($spacers, 3);
    margin-top: map.get($spacers, 7);

    @include media-breakpoint-only(xs) {
      margin-top: map.get($spacers, 6);
    }
  }

  blockquote {
    margin-bottom: 2rem;
    margin-top: 2rem;

    p {
      font-size: 1.375rem !important;
      margin-bottom: 0;
      font-weight: $font-weight-medium;
      line-height: 1.4;
      border-left: solid $primary 3px;
      padding: 0 0 0 map.get($spacers, 5);

      @include media-breakpoint-down(md) {
        padding: 0 map.get($spacers, 3);
      }
    }
  }

  .pp-author-boxes-name,
  #article-categories,
  #article-tags {
    a {
      font-weight: $font-weight-x-bold;
    }
  }

  figure {
    margin-top: map.get($spacers, 5);
    margin-bottom: map.get($spacers, 5);

    // https://stackoverflow.com/questions/74206132/scss-select-where-no-parent-has-class
    // Не применять этот стиль только на картинки не в свайпере.
    // Важно привязывать отрицание на последний элемент селектора.
    img:not(.swiper *),
    video:not(.swiper *) {
      @include media-breakpoint-down(sm) {
        display: block;
        width: calc(100% + $container-padding-x);
        max-width: unset;
        margin-right: -$container-padding-x * 0.5;
        margin-left: -$container-padding-x * 0.5;
      }
    }

    figcaption {
      margin-top: map.get($spacers, 3);
      color: $secondary;
      font-size: 1rem;
    }
  }

  .alignright,
  .has-text-align-right {
    text-align: right;
  }

  .aligncenter,
  .has-text-align-center {
    text-align: center;
  }

  .wp-element-button {
    display: inline-block;
  }

  .recommended-card {
    .wp-post-image {
      transition: transform 0.5s;
    }

    .excerpt,
    .title {
      transition: opacity 0.3s;
    }

    &:hover {
      .excerpt,
      .title {
        opacity: 0.65;
      }

      .wp-post-image {
        transform: scale(1.1);
      }
    }
  }

  @include media-breakpoint-down(sm) {
    #featured-image {
      display: block;
      width: calc(100% + $container-padding-x);
      max-width: unset;
      margin-right: -$container-padding-x * 0.5 !important;
      margin-left: -$container-padding-x * 0.5 !important;
    }
  }

  .call-to-action {
    overflow: hidden;

    --clip-path-size: 45%;
    --clip-path-x: 75%;
    --clip-path-y: 50%;
    --shift: 10%;
    --slide: 40px;

    @include media-breakpoint-up(md) {
      &:hover {
        --clip-path-size: 65%;

        &:hover {
          .media {
            left: calc((var(--shift) - var(--slide)));
            right: calc((var(--shift) - var(--slide)) * -1);
          }
        }
      }
    }

    @include media-breakpoint-down(md) {
      --clip-path-size: 45%;
      --clip-path-x: 80%;
      --clip-path-y: 80%;
    }

    .media {
      right: calc(var(--shift) * -1);
      left: calc(var(--shift));
      transition-duration: 0.6s;

      @include media-breakpoint-down(md) {
        transition-duration: 0.1s;
      }

      transition-property:
        clip-path right,
        left;
      transition-timing-function: cubic-bezier(0.2, 0, 0, 1);
      opacity: 0.4;
      clip-path: circle(
        var(--clip-path-size) at var(--clip-path-x) var(--clip-path-y)
      );

      .video {
        object-fit: cover;
      }
    }

    .btn {
      @include media-breakpoint-down(md) {
        margin-top: 14rem;
      }

      &:hover {
        img {
          filter: brightness(0%);
        }
      }
    }
  }
}
