// Carousel

.swiper-connect.stretch-cards {
  .swiper-wrapper {
    align-items: stretch;
  }

  .swiper-slide {
    > * {
      height: 100%;
    }

    height: unset;
  }
}

.max-width-720 {
  max-width: 720px;
}

.max-width-1140 {
  max-width: 1140px;
}
