$dark-background-color: #333;
$body-secondary-color: #eee;
$primary: #ff6f61;
$light: $body-secondary-color;
$dark: $dark-background-color;
$body-secondary-bg: $body-secondary-color;
$pagination-disabled-color: $primary;
$desktop-sections-gap: 4.375rem;
$single-post-gap: 3.875rem;

$spacer: 1rem;
$spacers: (
  // 0px
  0: 0,

  // 4px
  1: $spacer * 0.25,

  // 8px
  2: $spacer * 0.5,

  // 16px
  3: $spacer,

  // 20px
  4: $spacer * 1.25,

  // 24px
  5: $spacer * 1.5,

  // 32px
  6: $spacer * 2,

  // 40px
  7: $spacer * 2.5,

  // 48px
  8: $spacer * 3,

  // 60px
  9: $spacer * 3.75,

  // 64px
  10: $spacer * 4
);

$font-size-base: 1rem;

$h1-font-size: $font-size-base * 2.5; // 40px
$h2-font-size: $font-size-base * 2; // 32px
$h3-font-size: $font-size-base * 1.75; // 28px
$h4-font-size: $font-size-base * 1.5; // 24px
$h5-font-size: $font-size-base * 1.25; // 20px
$h6-font-size: $font-size-base * 1.125; // 18px
$h7-font-size: $font-size-base; // 16px

$font-sizes: (
  1: $h1-font-size,
  2: $h2-font-size,
  3: $h3-font-size,
  4: $h4-font-size,
  5: $h5-font-size,
  6: $h6-font-size,
  7: $h7-font-size,
);

$font-weight-x-bold: 800;
$display-font-weight: $font-weight-x-bold;
$navbar-brand-font-size: 1rem;
$nav-link-font-size: 1rem;
$navbar-brand-padding-y: 0;
$navbar-padding-y: 0.6875rem;
$nav-link-padding-y: 0;
$navbar-dark-color: $body-secondary-color;

$btn-border-width: 2px;

$border-radius: 0;

$input-btn-font-size: $font-size-base * 1.125; // 18px
$input-btn-padding-x: 1.5rem;
$input-btn-padding-y: 0.5rem;

$headings-line-height: 1.3;
