@import '../../styles/libs/swiper';

.slider-block {
  position: relative;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;

  .swiper-slide {
    width: 90%;
  }

  .swiper.swiper-initialized {
    @include media-breakpoint-down(md) {
      overflow: visible;
    }
  }

  .swiper-button-prev {
    left: calc(var(--btn-nav-size) / 2 * -1);
  }

  .swiper-button-next {
    right: calc(var(--btn-nav-size) / 2 * -1);
  }
}
