@import '~swiper/scss';
@import '~swiper/scss/effect-fade';
@import '~swiper/scss/pagination';
@import '../../styles/app';

.slider-block {
  position: relative;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;

  .swiper-slide {
    width: 90%;
  }

  figure {
    margin: 0;
  }

  .swiper.swiper-initialized {
    @include media-breakpoint-down(md) {
      overflow: visible;
    }
  }

  .swiper-pagination {
    z-index: 1;
    position: absolute;
    top: 15px;
    left: 15px;
    border-radius: 100px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 0.9rem;
    font-weight: 600;
    padding: 2px 12px;
  }

  .swiper-button {
    @include media-breakpoint-down(md) {
      display: none;
    }

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    transition:
      background-color 0.3s,
      color 0.3s,
      opacity 0.3s,
      visibility 0.3s;

    &.swiper-button-disabled {
      opacity: 0;
      visibility: hidden;
    }
  }

  .swiper-button-prev {
    left: calc(var(--btn-nav-size) / 2 * -1);
  }

  .swiper-button-next {
    right: calc(var(--btn-nav-size) / 2 * -1);
  }

  .swiper-pagination-bullets {
    text-align: center;
  }

  .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: unset;
    top: unset;

    --swiper-pagination-bullet-width: 0.75rem;
    --swiper-pagination-bullet-height: 0.75rem;
    --swiper-pagination-bullet-inactive-color: #adadad;
    --swiper-pagination-bullet-inactive-opacity: 1;
  }

  .swiper-pagination-bullet-active {
    background: #333;
  }
}
